.cont{
    float: left;
    width: 100%;
    padding: 0.32rem 0.32rem 0.6rem 0.32rem;
    box-sizing: border-box;
}
.title{
    float: left;
    width: 100%;
    font-size: 0.32rem;
    color: #333333;
}
.time{
    float: left;
    margin-top: 0.12rem;
    width: 100%;
}
.time span{
    margin-left: 0.1rem;
    font-size: 0.24rem;
    font-family: Roboto;
    color: #999999;
}
.contBox{
    float: left;
    margin-top: 0.24rem;
    width: 100%;
    font-size: 0.26rem;
    line-height: 0.46rem;
    color: #666666;
    letter-spacing: 1px;
}
.contBox span{
    float: left;
    width: 100%;
    
}
.contBox p{
    float: left;
    width: 100%;
}
.contBox img{
    float: left;
    margin: 0.24rem 0;
    width: 100%;
    height: 100%;
}









